<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>
    <appender name="MongoAppender" type="log4net.Appender.MongoDBAppender, log4net-MongoDB">
      <!-- MongoDB connection options -->
      <host value="localhost" />
      <port value="27017" />
      <databaseName value="log4net_mongodb" />
      <collectionName value="logs" />
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="MongoAppender" />
    </root>
  </log4net>
</configuration>
