# Visual Studio stuff
/src/*.user
/src/*.suo
/src/*/bin/
/src/*/obj/
/src/*/*.user

# Managed by NuGet
/lib/
/tools/NUnit.Runners/

# build files
/TestResult.xml
/build/
/src/SharedAssemblyInfo.cs