src/log4net-MongoDB/bin
src/log4net-MongoDB/obj

src/log4net-MongoDB.Tests/bin
src/log4net-MongoDB.Tests/obj

src/_ReSharper.log4net-MongoDB
src/log4net-MongoDB.5.0.ReSharper.user

src/log4net-MongoDB.suo