<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <log4net>
    <appender name="MongoAppender" type="log4net.Appender.MongoDBAppender, log4mongo-net">
      <!-- MongoDB connection options -->
      <host value="localhost"/>
      <port value="27017"/>
      <databaseName value="logs"/>
      <collectionName value="logs_net"/>
      <!-- 
      Uncomment following for MongoDB authentication
      See http://www.mongodb.org/display/DOCS/Security+and+Authentication
      
      <userName value="mylogin" />
      <password value="mysecretpass" />
      -->
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="MongoAppender"/>
    </root>
  </log4net>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
