<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>
    <appender name="MongoAppender" type="log4net.Appender.MongoDBAppender, log4mongo-net">
      <connectionString value="mongodb://localhost:27017/logs" />
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="MongoAppender" />
    </root>
  </log4net>
</configuration>
